<div class="container-fluid">
  <div class="header">
    <div class="row pt-3 px-3 m-0">
      <div class="col-4 text-white fs-4 mt-2">User Dashboard</div>
      <div class="col-3 text-white fs-4 mt-2">TrackIt</div>
      <div class="col-5 text-white fs-6 mt-2 nav-button">
        <a (click)="handleNavHome()">Home</a>&nbsp; &nbsp;
        <a (click)="handleNavProfile()">Profile</a>&nbsp;&nbsp; &nbsp;
        <a (click)="handleNavMyBooking()">Tracker</a>&nbsp;&nbsp; &nbsp;
        <a (click)="handleNavWorkOutInfo()">WorkOut_Info</a>&nbsp;&nbsp; &nbsp;
        <a (click)="handleNavGoal()">Goal</a>&nbsp;&nbsp; &nbsp;
        <a (click)="handleNavMyRoutine()">Routine</a>&nbsp;&nbsp; &nbsp;
        <a (click)="handleNavSignOut()">SignOut</a>
      </div>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
